/* regole generali */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

/* Bottoni */
.button{
    padding:10px 10px;
    border-radius: 25px;
    text-decoration: none;
}

.white1{
    background-color: white;
    color:black;
}
.blue{
    background-color: #0084fd;
    color:#fff;
    padding:5px 40px;
}
#testo i{
    font-size: 25px;
    color:#fff;
}
.purple{
    color:#fff;
    background-color:#9792e4;
    padding: 5px 30px;
    margin:20px auto;
}
.social{
    font-size: 11px;
    padding: 5px 20px;
}
.white2{
    display: block;
    background-color: #fff;
    padding: 10px 0;
    width: 20%;
    margin:5px auto;
}

/* header */
header{
    height:80px;
    width:100%;
    background-color: #0084fd;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
}

nav{
    height:100%;
    margin: 0 10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
    display: inline-block;
    padding: 0 10px;
    list-style: none;
}

header a{
    color: #fff;
    text-decoration: none;
}
.fa-bars{
    color: #fff;
    font-size: 42px;
    display:none;
}


/* Presentazione */

.container{
    margin: 50px auto;
    width:100%;
}
.container.first{
    margin: 130px auto 50px auto;
}

.boxes{
    margin: 10px auto;
    max-width: 80%;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.box{
    height:250px;
    max-width: calc(100% / 3);
    margin: 5px 3px;
    width: calc((100% - 30px) / 3);
    background-color: #b5ddff;
    text-align:center;
    padding: 10px;
    border-radius: 10px;
}
.box.large{
    max-width: calc((100% / 3) * 2);
    width: calc(((100% - 20px) / 3) * 2);
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5px 3px 0 3px;
    padding-bottom:0;
}
#testo{
    flex-basis:60%;
    line-height: 150%;
    margin: 5px 3px;
    padding-bottom:10px;
}
.box h3, .box i, .box p{
    margin-top: 5px;
}
.box h3, .box i{
    color: #0084fd;
}
.box i{
    font-size:40px;
}
.box h3{
    font-size:25px;
}
.box.large img{
    width:auto;
    height:200px;
    align-self: flex-end;
}



/* funzionalità */
.container.full{
    background-color: #9792e4;
    padding-top: 30px;
}

.boxes.odd{
    justify-content: center;
    align-items: flex-end;
    background-color: #9792e4;
    height: 100%;
}
.left{
    margin:10px;
    background-color: #9792e4;
    height:80%;
}
.left img{
    width:100%;
    height:auto;
    margin-bottom: 30px;
}
.left h3, .left p{
    color:#fff;
    text-align: left;
}
.left h3{
    margin-bottom:20px;
}
.right{
    background-color: #fff;
    margin:10px;
    height:50%;
}
.right img{
    width: 50%;
    height:auto;
}
.right p{
    margin-bottom:20px;
}
#arrow-down{
    border-radius: 50%;
    background-color: #9792e4;
    padding:5px;
}
#arrow-down i{
    color: #000;
    font-size: 20px;
}

/* Testimonials */
.text{
    height:150px;
    width:60%;
    margin: auto;
    text-align: center;
    line-height:180%;
    margin-bottom:20px;
}
.text h2{
    color:#9792e4;
    margin: 20px auto;
}

.person{
    margin:10px auto;
    background-color: #9792e4;
    height:200px;
    width:60%;
    padding: 10px;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.person img{
    width:30%;
    clip-path: circle();
    margin: 3%;
    z-index: 1;
    
}
.client{
    color:#fff;
    line-height: 150%;
    font-size: 16px;
}
.name{
    font-size:18px;
    margin-top:20px;
}



/* Benefits */
h2{
    text-align: center;
    color:#fff;
}

.white{
    height:300px;
    max-width: calc(100% / 3);
    margin: 5px 10px;
    width: calc((100% - 60px) / 3);
    background-color: #fff;
    padding: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.number{
    color:#9792e4;
    font-size: 50px;
}

.white h3{
    color:#9792e4;
}
.white p{
    font-size: 14px;
    text-align: left;
}
/* About us */
.about-us{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width:70%;
    margin:10px auto;
}
.text.long{
    height:100%;
    width:calc((100% - 40px) / 5 * 3);
    margin-right:40px;
    text-align: left;
}
.text.long p{
    margin: 20px auto;
}
.text.long h2{
    font-size:36px;
}
.person.small{
    width: calc((100% - 40px) / 5 );
    height:auto;
    background-color: #fff;
    position:relative;
    display:flex;
    flex-direction: column;
}
.small img{
    width:100%;
}
#big{
    font-size:60px;
    color:#9792e4;
    position:absolute;
    top:0;
    right:0;
    z-index: 3;
}
.small p{
    font-size: 20px;
    color:#9792e4;
}

/* get started */
.container.full.bottom{
    margin: 50px auto 0 auto;
    height:400px;
}
#get-started{
    color:#fff;
}
.final{
    width:50%;
}
.final h2, .final p, .final sub{
    color:#fff;
    margin: 25px auto;

}
.final h2{
    font-size: 36px;
}
#free{
    color:#f1bc66;
    font-size: 50px;
}
sub a{
    color:#fff;
    text-decoration: underline;
}

sub{
    font-size:12px;
}



/* footer */
footer{
    background-color: #333333;
    width:100%;
    height: 150px;
}
.closing{
    width:50%;
    height:100%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.closing div{
    color:#fff;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size:12px;
    width: 60%;
    text-align: center;
}
.closing a{
    color:#9792e4;
}


/* Responsive smartphone - 480px */
@media screen and (max-width:767px){
    body{
        font-size:12px;
    }
    ul{
        display:none;
    }
    .fa-bars{
        display: block;
    }
    .boxes{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box{
        width: 80%;
        max-width: 80%;
    }
    .box.large{
        width:80%;
        max-width: 80%;

    }
    .about-us{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

/* Responsive tablet - 768px */
@media screen and (max-width: 1139px){
    body{
        font-size:14px;
    }
    ul{
        display:none;
    }
    .fa-bars{
        display: block;
    }

    .boxes.odd{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box.white{
        width:calc(100%/2)
    }
}